body {
    margin: 0;
    background: #eeeeee;

  }
  h1 {
    margin: 80px 0 0 80px;
    text-align: center;
    font: bold italic x-large
  "Times New Roman",Times,serif

  }
  h2 {
    margin: 80px 0 0 80px;
    text-align: center;

  }
  
  